body{
    margin: 0%;
    text-align: center;

}

h1{
color: rgb(243, 140, 174);
font-size: 96px;
text-align: center;

}

h2{

   font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
   text-align: center;
   color: rgb(15, 1, 49);
   
}

h3{
    font-size: 36px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: flex;
justify-content: center;

}

 a{
     color: #f0a9b9;
     font-family: "Montserrat", sans-serif;
     margin: 10px 20px;
     text-decoration: none;
     text-align: center;
 }

.intro p{

    font-weight: bold;
    font-size: 36px;
    color: rgb(15, 1, 49);
    text-align: center;
    margin-bottom:0;
    
}

.top-container{
    background-color: rgb(240, 196, 213);
    padding-top: 100px;
    

}

.profile-image{
    height: 100px;
    border-radius: 50px;
    margin-left: 45%;
}

.middle-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    margin-left: 10%;
    text-align: left;
    row-gap: 2rem;
    column-gap: 4rem;
    }


.forecast-image{
    
    width: 500px;
   

}

.clock-image{
    
    width: 500px;


}


.contact-btn{

    background: rgb(229, 132, 181);
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    margin-left: 65%;
    
}


.bottom-container {
    background-color: #770749;
    padding: 50px 0 20px;

}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}